{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Сведения о сотруднике {{ employee['name'] }} {% endblock %}</h1>
<div>
    <h3>Почта: {{employee['email']}}</h3>
    <h3>Номер телефона: {{employee['phone_number']}}</h3>
    <h3>Должность: {{employee['position']}}</h3>
    <h3>Подразделение: {{employee['department']}}</h3>
    <h3>Ид начальника: {{employee['chief_id']}}</h3>
</div>
<button class="bg-danger">
    <!-- {{ remove_employee(employee['id']) }} -->
    <a style="color: white;" href="{{ url_for('employees') }}">Удалить сотрудника</a>
</button>
{% endblock %}
